<p id="notice"><%= notice %></p>

<h1>Messages</h1>

    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <div class="my-message">
      <% else %>
       <div class="message">
      <% end %>
        <div class = "sender"><%= message.user.profile.first_name %> at <%= message.created_at %>:</div>
        <p><%= message.body %><p>
      </div>
    <% end %>

<br>

<%= form_with(model: [@conversation, @message], local: true, html: {class: "ui reply form"}) do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Add Reply", class: "success button" %>
  </div>
<% end %>
