<div class="container">

<div class = "messages">

<h4>Messages with <%= link_to other_user(@conversation).full_name, other_user(@conversation) %> about the listing "<%= link_to @conversation.listing.title, @conversation.listing %>"</h4>

  <% @messages.each do |message| %>
    <% if message.user == current_user %>
      <div class="message-box-me">
        <div class = 'profile-img'></div>
        <div class="my-message">
          <div class = "sender"><%= message.user.profile.first_name %> <%= format_time(message.created_at) %>:</div>
          <p><%= simple_format message.body %></p>
        </div>
      </div>
    <% else %>
      <div class="message-box">
        <div class = 'profile-img'>
          <% if other_user(@conversation).image_data.present? %>
            <%= image_tag other_user(@conversation).image_url(:thumb) %>
          <% else %>
            <%= image_tag 'avatar-thumb.png' %>
          <% end %>
        </div>
        <div class="message">
          <div class = "sender"><%= message.user.profile.first_name %> <%= format_time(message.created_at) %>:</div>
          <p><%= simple_format message.body %></p>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class = "message-box-me">
    <div class="my-message">
      <%= form_with(model: [@conversation, @message], local: true, html: {class: "ui reply form"}) do |f| %>
        <div class="field">
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div>
          <%= f.submit "Send", class: "success button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>