<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image data</th>
      <th>Suburb</th>

    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to "#{profile.first_name} #{profile.last_name}", profile %></td>
        <td><%= profile.image_data %></td>
        <td><%= "#{profile.suburb}, #{profile.state}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create my profile', new_profile_path if current_user.profile.nil? %>
