<p id="notice"><%= notice %></p>

<p>
  <%= "#{@profile.first_name} #{@profile.last_name}" %>
</p>

<p>
  <strong>About <%= @profile.first_name %>:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @profile.image_data %>
</p>

<p>
  <strong>Location:</strong>
  <%= "#{@profile.suburb}, #{@profile.state}"%>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>


<%= link_to 'Edit my profile |', edit_profile_path(@profile) if @profile.user == current_user%>
<%= link_to 'Back', profiles_path %>
