<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Species</th>
      <th>Location</th>
      <th>Price</th>
      <th>Image data</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= listing.specie.name %></td>
        <td><%= "#{listing.user.profile.suburb}, #{listing.user.profile.state}" %></td>
        <td><%= format_money listing.price_cents %></td>
        <td><%= image_tag listing.image_url(:thumb) if listing.image_data.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path if signed_in? %>
