<div class=container>
  <h1>Listings</h1>
<div class = "horizontal-line"><div>
 <br> 
  <%= form_with url: listings_path, local: true, method: :get, class: 'filter-form' do |form| %>
      <% if signed_in? && current_user.profile.present? %>
        <%= form.label 'Search by distance from your location (kms)' %>
        <%= form.select :radius_search, [5, 10, 20, 40], { :include_blank => 'All locations', :selected => params[:radius_search] } %>
      <% else %>
        <p>Set up a profile to search by location</p>
      <% end %>
      <div class="form-group">
        <div class = "form-group-item">
          <%= form.label 'Search by species...' %>
          <%= form.collection_select :species_search, Specie.order(:name), :id, :name, { :include_blank => 'All species', :selected => params[:species_search] } %>
        </div>
        <div class = "form-group-item">
          <%= form.label '...or by growth form' %>
          <%= form.collection_select :growth_form_search, GrowthForm.order(:name), :id, :name, { :include_blank => 'All growths forms', :selected => params[:growth_form_search] } %>
        </div>
      </div>
      <%= form.submit 'Filter listings' %>
  <% end %>

<div class = "horizontal-line"><div>
<br>

<div class = "listings-container">
  <% @listings.each do |listing| %>
    <div class="card">
      <div class="card-left">
        <% if listing.image_data.present? %>
          <%= image_tag listing.image_url(:large) %>
        <% elsif listing.specie.growth_form.name == ('small tree' || 'medium tree' || 'large tree') %>
          <%= image_tag 'tree-100.png' %>
        <% elsif listing.specie.growth_form.name == 'fern' %>
          <%= image_tag 'fern-100.png' %>
        <% elsif listing.specie.growth_form.name == 'shrub' %>
          <%= image_tag 'bush-100.png' %>
        <% elsif listing.specie.growth_form.name == 'grass' %>
          <%= image_tag 'grass-100.png' %>
        <% else %>
              <%= image_tag 'leaf-100.png' %>
        <% end %>      
      </div>
            
      <div class="card-right">
        <div class="card-section">
          <div class="card-divider">
            <i><%= link_to listing.specie.name, listing.specie %></i>
          </div>
          <h4><%= link_to listing.title, listing %></h4>
          <p><%= format_money listing.price_cents %></p>
          <p><%= "#{listing.user.profile.suburb}, #{listing.user.profile.state}" %></p>
          <p>Last updated <%= format_time listing.updated_at %></p>

        </div>
      </div>
    </div>
  <% end %>
  <br>

  <%= (link_to 'New Listing', new_listing_path, class:"success button") if signed_in? %>
  </div>
</div>
