<div class = "container">
  <div class = "listing-details">
      <% if @listing.image_data.present? %>
        <%= image_tag @listing.image_url(:large) %>
      <% elsif @listing.specie.growth_form.name == ('small tree' || 'medium tree' || 'large tree') %>
        <%= image_tag 'tree-500.png' %>
      <% elsif @listing.specie.growth_form.name == 'fern' %>
        <%= image_tag 'fern-500.png' %>
      <% elsif @listing.specie.growth_form.name == 'shrub' %>
        <%= image_tag 'bush-500.png' %>
      <% elsif @listing.specie.growth_form.name == 'grass' %>
        <%= image_tag 'grass-500.png' %>
      <% else %>
        <%= image_tag 'leaf-500.png' %>
      <% end %>

    <h3>
      <% if @listing.active == false %>
        <strong>SOLD: </strong>
      <% end %>
      <%= @listing.title %>
    </h3>

    <p>
      <i><%= link_to @listing.specie.name, @listing.specie %></i> (<%= @listing.specie.common_name %>)
    </p>

    <p>
      <%= format_money @listing.price_cents %>
    </p>

    <p>
      <%= @listing.description %>
    </p>


    <p>
      <strong>Seller:</strong>
      <%= link_to @listing.user.profile.full_name, @listing.user.profile %><br>
      <strong>Location:</strong>
      <%= "#{@listing.user.profile.suburb}, #{@listing.user.profile.state}" %><br>
      <i>Last updated <%= format_time @listing.updated_at %></i>
    </p>

    
    <% if @listing.user == current_user && @listing.active == false %>
      <p><strong>Sold to: </strong><%= link_to @listing.charge.user.profile.full_name, @listing.charge.user.profile %>
      <%= ". To message #{@listing.charge.user.profile.first_name} about this listing " %>
      <%= link_to("click here.", conversations_path(listing_id: @listing.id, buyer_id: @listing.charge.user.id), method: 'post') %>
      </p>
    <% end %>
    

    </div>
    <div class="button-group">
      <% if (signed_in? && @listing.user != current_user && current_user.profile.present?) %>
        <%= link_to("Buy", new_charge_path(listing_id: @listing.id), class:"button") if @listing.active == true %>
        <%= link_to("Message", conversations_path(listing_id: @listing.id, buyer_id: current_user.id), method: 'post', class:"button") %>
      <% elsif (signed_in? && @listing.user != current_user && current_user.profile.nil?) %>
        <p>Set up your profile to message users and buy items.</p>
        <%= link_to "Create profile", new_profile_path, class:"button" %>
      <% elsif (signed_in? && @listing.user == current_user)%>
        <%= link_to 'Edit', edit_listing_path(@listing), class:"button" %>
      <% elsif !signed_in?%>
        <%= link_to 'Sign in', new_user_session_path, class:"button" %>
      <% end %>

      <%= link_to 'Back', listings_path, class:"button" %>
  </div>
</div>
