<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Species:</strong>
  <%= link_to @listing.specie.name, @listing.specie %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user.profile.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= format_money @listing.price_cents %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @listing.image_url(:large) if @listing.image_data.present? %>
</p>

<p>
  <strong>Last updated</strong>
  <%= format_time @listing.updated_at %>
</p>

<% if (signed_in? && @listing.user != current_user) %>
  <%= link_to("Message #{@listing.user.profile.first_name} about this listing", conversations_path(listing_id: @listing.id, buyer_id: current_user.id), method: 'post') if (signed_in? && @listing.user != current_user) %>
<% elsif (signed_in? && @listing.user == current_user)%>
  <%= link_to 'Edit', edit_listing_path(@listing) if @listing.user == current_user %> |
<% end %>

<%= link_to 'Back', listings_path %>
