<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= @conversation.listing.user.email %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= "#{@conversation.buyer.profile.first_name} #{@conversation.buyer.profile.first_name}" %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @conversation.listing.title %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
