<%= form_with(model: species, local: true) do |form| %>
  <% if species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
      <% species.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :species_name %>
  </div>

  <div class="field">
    <%= form.label :common_name %>
    <%= form.text_field :common_name, id: :species_common_name %>
  </div>

  <div class="field">
    <%= form.label :growth_form_id %>
    <%= form.text_field :growth_form_id, id: :species_growth_form_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :species_description %>
  </div>

  <div class="field">
    <%= form.label :image_data %>
    <%= form.text_area :image_data, id: :species_image_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
