<%= form_with(model: species, local: true) do |form| %>
  <% if species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
      <% species.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Scientific name' %>
    <%= form.text_field :name, id: :species_name %>
  </div>

  <div class="field">
    <%= form.label :common_name %>
    <%= form.text_field :common_name, id: :species_common_name %>
  </div>

    <div class="field">
    <%= form.label :form_id %>
    <%= form.collection_select :form_id, GrowthForm.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :species_description %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <% if @species.image_data? %>
    <div class="field">
      <%= image_tag @species.image_url(:thumb) %>
    </div>
    <div class="field">
      Remove attachment: <%= f.check_box :remove_image %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>