<p id="notice"><%= notice %></p>

<h1>Species</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Common name</th>
      <th>Growth form</th>
      <th>Description</th>
      <th>Image data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |species| %>
      <tr>
        <td><%= species.name %></td>
        <td><%= species.common_name %></td>
        <td><%= species.growth_form %></td>
        <td><%= species.description %></td>
        <td><%= species.image_data %></td>
        <td><%= link_to 'Show', species %></td>
        <td><%= link_to 'Edit', edit_species_path(species) %></td>
        <td><%= link_to 'Destroy', species, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Species', new_species_path %>
