<p id="notice"><%= notice %></p>

<h1>Species</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Common name</th>
      <th>Growth form</th>
      <th>Description</th>
      <th>Image data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |specie| %>
      <tr>
        <td><%= specie.name %></td>
        <td><%= specie.common_name %></td>
        <td><%= specie.growth_form.name %></td>
        <td><%= specie.description %></td>
        <td><%= image_tag specie.image_url(:thumb) if specie.image_data.present? %></td>
        <td><%= link_to 'Show', specie %></td>
        <td><%= link_to 'Edit', edit_specie_path(specie) %></td>
        <td><%= link_to 'Destroy', specie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Species', new_specie_path %>
