<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specie.name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @specie.common_name %>
</p>

<p>
  <strong>Growth form:</strong>
  <%= @specie.growth_form.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @specie.description %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @specie.image_url(:large) if @specie.image_data.present? %>
</p>

<%= link_to 'Edit', edit_specie_path(@specie) %> |
<%= link_to 'Back', species_path %>
