<div class = container>
  <h1>Support</h1>

  <%= form_with(url: support_url, local: true) do |f| %>
    <% unless @error_messages.empty? %>
      <% @error_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, value: current_user.email %>
    </div>

    <div>
      <%= f.label :message %>
      <%= f.text_area :message, rows: 6 %>
    </div>

    <%= f.button 'Send' %>
  <% end %>
</div>
  