   <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name menu-icon">
        <%= image_tag 'logo.png' %>
          <h1><%= link_to 'Eucalyptus', root_path %></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">

        <% unless current_page?(controller: '/listings', action: 'index') %>
          <li><%= link_to 'View listings', listings_path %></li>
        <% end %>
        <% unless current_page?(controller: '/listings', action: 'new') %>
          <li><%= link_to 'New listing', new_listing_path if signed_in? %></li>
        <% end %>

          <li class="has-dropdown">
            <a href="#">Account</a>
            <ul class="dropdown">
              <% if user_signed_in? %>
                <% if current_user.profile.present? %>
                  <li><%= link_to 'My profile', current_user.profile, class: 'btn btn-secondary' %></li>
                  
                <% else %>
                  <li><%= link_to 'Create profile', new_profile_path, class: 'btn btn-secondary'  %></li>
                <% end %>
                <li><%= link_to 'My messages', conversations_path %></li>
                <li><%= link_to 'My transactions', charges_path %></li>
                <li><%= link_to 'Email support team', support_path %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-secondary', method: :delete %></li>
              <% else %>
                <li class="active"><%= link_to 'Log in', new_user_session_path, class: 'btn btn-secondary' %></li>
              <% end %>
            </ul>
          </li>

        </ul>

    </nav>