<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title><%= content_for?(:title) ? yield(:title) : "Eucalyptus" %></title>
    
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <%= render '/layouts/nav' unless current_page?(root_path) %>

    <div class = "content">
      <% if notice.present? || alert.present? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%#= alert %></p>
      <% end %>

      <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>

  </body>
</html>